# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/
.env
Pipfile.lock

# Flask / migrations
instance/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
Downloads/
